@charset "UTF-8";
footer p {
  margin: 0;
}

footer .footer-nav-area ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

/*フッターメニュー*/
/*------side bar------*/
.sidebar-wrapper {
  margin-bottom: 2rem;
  padding: 10px;
}

.sidebar-wrapper h4 {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 7px 10px;
  color: #676767;
  background-color: #f5e1eb;
}

.sidebar-wrapper li {
  list-style: none;
  position: relative;
  padding: 10px;
}

.sidebar-wrapper a {
  text-decoration: none;
  color: #333;
}

.widget_recent_entries li,
.widget_nav_menu li {
  padding-left: 25px;
}

.widget_recent_entries a:hover,
.widget_meta a:hover,
.widget_recent_comments a:hover,
.widget_pages a:hover,
.widget_meta a:hover,
.widget_categories a:hover,
.widget_archive a:hover,
.widget_nav_menu a:hover {
  opacity: 0.6;
}

/*カテゴリウィジェット*/
.widget_categories li {
  display: inline-block;
  margin: 2px;
  padding: 2px 10px;
  white-space: nowrap;
  border-radius: 3px;
  background-color: #777;
}

.widget_categories li:before {
  font-family: "Font Awesome 5 Free";
  font-size: 0.8em;
  font-weight: bold;
  padding-right: 2px;
  content: "\f02b";
  color: #fff;
}

.widget_categories li a {
  font-size: 0.8em;
  color: #fff;
}

/*Recent widget*/
.widget_recent_entries li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
  left: 5px;
  content: "\f303";
  color: #464646;
}

/*menu widget*/
.widget_nav_menu li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  position: absolute;
  left: 5px;
  content: "\f0da";
  color: #464646;
}

body {
  /*body basic style*/
  font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "Noto Sans Japanese", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  color: #333;
}

/* reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

/*Title header font-style*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/*Set max size of img*/
img {
  max-width: 100%;
  height: auto;
}

/*Horizontal line under header*/
header {
  border-bottom: solid 1px #ddd;
}

/*Horizontal line above footer*/
footer {
  border-top: solid 1px #ddd;
}

/* size of contents */
.header-inner,
.container,
.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contents,
#sidebar {
  margin: 20px 0;
}

.container {
  display: flex;
}

.contents {
  width: 70%;
  margin-right: 2%;
}

#sidebar {
  float: left;
  width: 28%;
}

/* Top sns nav bar */
.social-icons {
  background: #c29fb4;
}

.social-icons ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.social-icons li {
  list-style: none;
  margin-right: 10px;
}

/* nav button */
#navbutton {
  display: none;
}

/* List style */
#menu-header-nav {
  display: flex;
  justify-content: space-around;
}

#menu-header-nav li {
  list-style: none;
}

/* temporary style----------*/
.header-inner {
  background-color: #ccc;
  height: 200px;
}

.contents {
  background-color: #a5e2ff;
}

footer {
  background-color: #777;
}

/* Site title styles */
.site-title {
  text-align: left;
}

.site-title h1 {
  font-size: 2.4em;
  margin: 0;
  padding: 10px 5px 0;
}

.site-title h1 a {
  display: block;
  text-decoration: none;
  color: #c29fb4;
}

/*------------------------*/
@media (max-width: 768px) {
  /* nav bar button for responsive */
  .header-inner {
    position: relative;
  }
  #navbutton {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    padding: 8px 12px;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: #fff;
  }
  #navbutton:hover {
    background-color: #ddd;
  }
  #navbutton:focus {
    outline: none;
  }
  #navbutton i {
    font-size: 2em;
    color: #333;
  }
}
