@import "variable";

footer {
  p {
    margin: 0;
  }

  .footer-nav-area {
    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
    }
  }
}

/*Horizontal line above footer*/
footer {
  border-top: solid 1px #ddd;
  background-color: $main-color;
}
// .footer-nav li {
//   float: left;
//   width: 50%;
//   text-align: center;
// }

// .footer-nav li a {
//   font-size: 0.9em;
//   display: block;
//   padding: 10px 5px;
//   text-decoration: none;
//   color: #fff;
// }

// .footer-nav li a:hover {
//   opacity: 0.6;
// }

// .copyright p {
//   text-align: right;
// }
