@import "variable";
@import "mixin";
//articles styles
.article-list {
  margin: 0 0 15px;
  padding-bottom: 20px;
  background-color: $white;
  display: flex;
  position: relative;
  border-bottom: 1px solid $sub-color;

  h2 {
    @include font-style($article-title-font-size, 1px, $main-font, 400);
    margin-top: 0;
    margin-bottom: 5px;
    &:hover {
      color: $tint-color;
    }
  }

  p {
    @include font-style($base-font-size, 0, $article-body, 400);
    margin: 10px 0 0;
  }

  a {
    padding: 20px;
    text-decoration: none;
    color: $body-font;
  }
  a:hover {
    color: #444;
    text-decoration: none;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .text {
    width: 58%;
    margin-left: 2%;

    .article-date {
      @include font-style(
        $base-font-size,
        1px,
        "Libre Baskerville, Baskerville, serif",
        400
      );
      margin-bottom: 8px;
      color: $body-font;
    }

    .cat-data {
      font-size: 0.7rem;
      padding: 3px 5px;
      text-align: center;
      white-space: nowrap;
      color: $white;
      background-color: $tag-color;
    }

    .more-link {
      padding: 5px 8px;
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      bottom: 20;
      right: 0;
      color: $tint-color;
      font-family: $sub-font;
    }
  }

  @media (max-width: 768px) {
    .article-list {
      flex-direction: column;
      img {
        width: 100%;
      }
      .text {
        width: 100%;
      }
    }
  }
}
