@mixin container-size {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin font-style($size, $space, $family, $weight) {
  font-size: $size;
  letter-spacing: $space;
  font-family: $family;
  font-weight: $weight;
}

//media query

@mixin max-screen($breakPoint) {
  @media screen and (max-width: $breakPoint) {
    @content;
  }
}

@mixin min-screen($breakPoint) {
  @media screen and (min-width: $breakPoint) {
    @content;
  }
}

@mixin screen($breakPointMin, $breakPointMax) {
  @media screen and (min-width: $breakPointMin) and (max-width: $breakPointMax) {
    @content;
  }
}