@import "variable";
@import "mixin";
/*------side bar------*/
.sidebar-wrapper {
  margin-bottom: 2rem;
  padding: 10px;
  // border: 1px solid #777;

  h4 {
    @include font-style(
      1.2rem,
      1px,
      "Libre Baskerville, Baskerville, serif",
      400
    );
    margin-top: 0;
    margin-bottom: 10px;
    padding: 7px 10px;
    color: $main-title-color;
    background-color: $main-color;
    text-align: center;
  }

  li {
    list-style: none;
    position: relative;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: #333;
  }
}

.widget_recent_entries li,
.widget_nav_menu li {
  padding-left: 25px;
}

.widget_recent_entries a:hover,
.widget_meta a:hover,
.widget_recent_comments a:hover,
.widget_pages a:hover,
.widget_meta a:hover,
.widget_categories a:hover,
.widget_archive a:hover,
.widget_nav_menu a:hover {
  opacity: 0.6;
}

/*カテゴリウィジェット*/
.widget_categories li {
  display: block;
  margin: 10px 50px;
  padding: 10px 10px;
  white-space: nowrap;
  border: 1px solid #777;
  background-color: $white;
  text-align: center;
}

.widget_categories li a {
  @include font-style(0.8rem, 2px, "Poppins", 200);
  color: $body-font;
}
