@import "variable";
.article {
  font-size: 1rem;
  margin: 0;
  padding: 0 25px 25px;

  h1 {
    font-size: 1.7em;
    margin: 0.3em 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.article-info .cat-data a {
  text-decoration: none;
  color: #fff;
}

.article-info .cat-data a:hover {
  opacity: 0.8;
}

.article-img {
  max-width: 640px;
  margin: 30px 0;
  text-align: left;
}

/*Tag*/

.article-tag {
  text-align: right;
  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    color: #464646;
  }

  li a {
    font-size: 0.8em;
    margin-right: 7px;
    padding: 2px 7px;
    text-decoration: none;
    color: #464646;
    border: solid 1px #464646;
    border-radius: 2px;
  }

  li a:hover {
    opacity: 0.8;
  }
}

//sns button

.share {
  margin-top: 40px;
  margin-bottom: 40px;
}

.share ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.share ul:after {
  display: block;
  clear: both;
  content: "";
}

.share li {
  float: left;
  width: 25%;
  margin: 0;
  margin-top: 15px;
}

.share li a {
  font-size: 14px;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.share li a:hover {
  opacity: 0.8;
}

.share li a:visited {
  color: #fff;
}

.tweet a {
  background-color: #55acee;
}

.facebook a {
  background-color: #315096;
}

.fa-hatena:before {
  font-family: Verdana;
  font-weight: bold;
  content: "B!";
}

.hatena a {
  background-color: #008fde;
}

// related article
.relate-article {
  margin: 40px 0 0;
  padding: 10px;

  h4 {
    font-size: 1.25em;
    padding: 3px 5px;
    border-bottom: solid 1px #999;
  }
  ul {
    font-size: 0;
    margin: 10px 0;
    padding: 0;

    li {
      display: inline-block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      padding: 10px 5px;
      list-style: none;
      vertical-align: top;
    }
    &a {
      display: block;
      text-decoration: none;
      color: #000;
    }
    &a:hover {
      color: #000070;
      background-color: #eee;
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .text {
    font-size: 16px;
    font-weight: bold;
  }
}

//comments form
#respond {
  label {
    display: block;
  }

  input,
  textarea {
    width: 100%;
  }

  input[type="submit"] {
    width: auto;
  }

  .says {
    display: none;
  }

  .comment-autor,
  .comment-meta {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .relate-article ul {
    margin: 0;
    display: flex;
    flex-direction: column;

    li {
      width: 100%;
    }

    text {
      width: auto;
      margin-top: 5px;
      margin-left: 100px;
    }
  }
}
