//main-color
$main-color: #f9f4f1;
$hover-article: #fcf8fa;
$sub-color: #eaeaea;
$tint-color: #bb8696;
$body-font: #444;
$main-title-color: #58504d;
$tag-color: #c4ac92;
$white: #ffffff;

$main-font: "Libre Baskerville, Baskerville, serif";
$sub-font: "Poppins";
$article-body: "Lora, serif";

$title-font-size: 2.8rem;
$base-font-size: 1rem;
$sidebar-font-size: 1.2rem;
$article-title-font-size: 1.4rem;
