@import "footer";
@import "sidebar";
@import "main-article";
@import "single-article";
@import "variable";
@import "mixin";
body {
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  color: $body-font;
}

/* reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
  font-family: none;
}

/*Title header font-style*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
/*Set max size of img*/
img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  overflow: hidden;
}

/* size of contents */
.main-container,
.footer-inner {
  @include container-size;
}

//header styles
header {
  margin-bottom: 40px;
}
.header-inner {
  position: relative;
  background: linear-gradient(
      rgba(255, 255, 255, 0.66),
      rgba(232, 232, 232, 0.66)
    ),
    url(../../MyStyleBlog/img/header5.jpg) no-repeat center;
  background-size: cover;
  height: 450px;
  margin-bottom: 40px;
}

/* Site title styles */
.site-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    @include font-style($title-font-size, 10px, $main-font, 400);
  }

  a {
    display: block;
    text-decoration: none;
    color: $main-title-color;

    &:hover {
      color: $main-title-color;
      text-decoration: none;
    }
  }
}

/* Top sns nav bar */
.social-icons {
  background: $main-color;
  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    padding: 10px;
  }
  a {
    color: $tint-color;
  }
}

/* nav button */
#navbutton {
  display: none;
}

/* List style */
#menu-header-nav {
  @include container-size;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid $sub-color;
  border-bottom: 1px solid $sub-color;
  margin-bottom: 40px;

  li {
    list-style: none;
    padding: 10px 0;

    a {
      color: $main-title-color;
      @include font-style($base-font-size, 1px, $sub-font, 300);
      text-transform: uppercase;
    }

    a:hover {
      text-decoration: none;
      color: $tint-color;
    }
  }
}

// pagenation

.pagination {
  margin: 40px 0 30px;
  text-align: center;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination li {
  display: inline-block;
  width: auto;
}

.pagination li a,
.pagination li > span {
  font-size: 0.9em;
  display: block;
  width: 30px;
  margin: 0 1px;
  padding: 5px 0;
  text-decoration: none;
  color: #000;
  border: solid 1px #ccc;
  border-radius: 3px;
}

.pagination li > span {
  color: #fff;
  background-color: #464646;
}

.pagination li a:hover {
  color: #fff;
  background-color: #464646;
}

.pagination li .dots {
  width: 15px;
  padding: 0;
  color: #000;
  border-color: transparent;
  background-color: transparent;
}

/*------------------------*/

@media (max-width: 768px) {
  /* nav bar button for responsive */

  #navbutton {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    padding: 8px 12px;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: #fff;
  }

  #navbutton:hover {
    background-color: #ddd;
  }

  #navbutton:focus {
    outline: none;
  }

  #navbutton i {
    font-size: 2em;
    color: #333;
  }
}
